#content {
    border: 1px solid black;
    margin-top: 80px;
    margin-left: 310px;
    margin-right: 280px;
    padding: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    justify-items: center;
    transition: margin-left 0.3s ease;
}

#TituloCad h1 {
  margin: 0 0 20px 0;
}

#buttons {
  display: flex;
  justify-content: center; 
}

#buttons button {
    width: 100%;
}

#idDescricao {
  height: 100px;
}

textarea {
  resize: none !important;
  overflow-y: hidden;
  height: 80px;
}