#content {
  border: 2px solid #2B4C7E;
  background-color: #F0F4F9;
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 170px;
  padding: 20px;
  padding-bottom: 50px;
  box-sizing: border-box;
  justify-items: center;
  transition: margin-left 0.3s ease;
  font-family: "Roboto Mono", monospace;
}

img {
  width: 250px;
}

p {
  margin: 90px;
  margin-top: 20px;
  text-align: justify;
  margin-bottom: 15px;
  font-size: 1.12em;
}

img {
  width: 100px;

}

#logo {
  width: 280px;
}

.funcionalidade {
  background-color: #2B4C7E;
  border-radius: 12px;
  transition: transform 0.2s;
}

.funcionalidade:hover {
  transform: translateY(-5px);
}