#content {
    border: 3px solid #2B4C7E;
    border-radius: 10px !important;
    background-color: #F0F4F9;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 170px;
    padding: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    justify-items: center;
    transition: margin-left 0.3s ease;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    text-align: center;
}

input {
    font-weight: bold;
    border: 1px solid #000000 !important;
}

th {
    font-size: 20px;
    border: 2px solid #2B4C7E !important;
}

td {
    font-size: 18px;
    border: 1px solid #000000 !important;
}

img {
    width: 30px;
    margin-right: 5px;
    padding-top: 2px;
    margin-bottom: 4px;
}

.input-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media (max-width: 1366px) {

  #content {
    border: 3px solid #2B4C7E;
    border-radius: 10px !important;
    background-color: #F0F4F9;
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 60px;
    padding: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    justify-items: center;
    transition: margin-left 0.3s ease, margin-right 0.3s ease;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
  }

  #fecharFiltros {
    display: none;
  }

  .input-container {
    width: 100%;
  }

  #filterCodigo {
    width: 100px;
    margin-left: 0px;
  }

  img {
    width: 30px;
    margin-right: 0px;
    padding-top: 2px;
    margin-bottom: 4px;
}


  #filterNome {
    width: 220px;
  }

  #filterDocumento {
    width: 190px;
  }

   #filterTelefone {
    width: 160px;
  }

  .filter-bar #toggleSearch {
    display: none;
  }


  input {
    width: 150px;
  }

  .inputContainer {
    width: 100%;
    margin-right: 20px;
    margin-left: -15px;
  }

  table {
    font-size: 16px;
  }

  th {
    font-size: 18px;
  }

  td {
    font-size: 16px;
  }

  #formPesquisa {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

}