#content {
    border: 3px solid #2B4C7E;
    border-radius: 10px !important;
    background-color: #F0F4F9;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 170px;
    padding: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    justify-items: center;
    transition: margin-left 0.3s ease;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    text-align: center;
}

input {
    font-weight: bold;
    border: 1px solid #000000 !important;
}

th {
    font-size: 20px;
    border: 2px solid #2B4C7E !important;
}

td {
    font-size: 18px;
    border: 1px solid #000000 !important;
}

img {
    width: 30px;
    margin-right: 5px;
    padding-top: 2px;
    margin-bottom: 4px;
}

.input-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}