:root {
  --primary: #2b4c7e;
  --bg-light: #9dc5f7;
}

#content {
  border: 2px solid var(--primary);
  background-color: var(--bg-light);
  margin: 80px 280px 0 310px;
  padding: 20px 20px 50px;
  box-sizing: border-box;
  justify-items: center;
  transition: margin-left 0.3s ease, margin-right 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none !important;
}

.tipo-usuario {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 17px;
}

.tipo-usuario label {
  display: flex;
  align-items: center;
  gap: 1px;
}

#content h1 {
  margin: 0 0 20px 0;
}

#buttons {
  display: flex;
  justify-content: center;
}

#buttons button {
  width: 100%;
  padding: 6px;
}

.borda {
  border: 1px solid var(--primary);
}

#content label,
#content .form-label {
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

#content hr {
  border-top: 1px solid var(--primary);
  opacity: 0.4;
}

#content input[type="radio"] {
  margin-right: 6px;
}

#content h4 {
  font-weight: bold;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1400px) {
  #content {
    margin: 90px 30px 0;
    margin-left: 80px;
  }
}
@media (max-width: 768px) {
  #content {
    width: 90%;
    height: auto;
    margin: 80px;
    margin-left: 80px;
    padding: 20px;
  }
}
@media (max-width: 480px) {
  #content {
    width: 95%;
    height: auto;
    margin: 20px auto 0;
    padding: 15px;
  }
}
