#content {
  border: 2px solid #2b4c7e;
  background-color: #f0f4f9;
  margin-top: 80px;
  margin-left: 310px;
  margin-right: 280px;
  padding: 20px;
  padding-bottom: 50px;
  box-sizing: border-box;
  justify-items: center;
  transition: margin-left 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

#pessoaFisica.hidden,
#pessoaJuridica.hidden {
  display: none;
}

#content h1 {
  margin: 0 0 20px 0;
}

#buttons {
  display: flex;
  justify-content: center;
}

#buttons button {
  width: 100%;
  padding: 6px;
}

.borda {
  border: 1px solid #2b4c7e;
}

#content label,
#content .form-label {
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#content .form-floating > label {
  font-weight: bold;
  padding-left: 5px;
}

#content hr {
  border-top: 1px solid #2b4c7e;
  opacity: 0.4;
}

#content input[type="radio"] {
  margin-right: 6px;
}

#content h4 {
  font-weight: bold;
  color: #2b4c7e;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (max-width: 1400px) {
  #content {
    margin-left: 30px;
    margin-right: 30px;
  }
}
