#content {
  border: 2px solid #2b4c7e;
  background-color: #9dc5f7;
  margin-top: 80px;
  margin-left: 310px;
  margin-right: 280px;
  padding: 20px;
  padding-bottom: 50px;
  box-sizing: border-box;
  justify-items: center;
  transition: margin-left 0.3s ease;
  font-family: "Rubik", sans-serif;
}

#buttons {
  display: flex;
  justify-content: center;
}

#buttons button {
  width: 100%;
  padding: 6px;
}

.borda {
  border: 1px solid #2b4c7e;
}
