#content {
  border: 3px solid #2B4C7E;
  border-radius: 10px !important;
  background-color: #F0F4F9;
  margin-top: 80px;
  margin-left: 310px;
  margin-right: 280px;
  padding: 20px;
  padding-bottom: 50px;
  box-sizing: border-box;
  justify-items: center;
  transition: margin-left 0.3s ease;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

input,
textarea,
select {
  font-weight: bold !important;
  border: 1px solid #000 !important;
}

#TituloCad h1 {
  margin: 0 0 20px 0;
}

#buttons {
  display: flex;
  justify-content: center;
}

#buttons button {
  width: 100%;
  padding: 6px;
}

#idDescricao {
  height: 100px;
}

textarea {
  resize: none !important;
  overflow-y: hidden;
  height: 80px;
}

.borda {
  border: 1px solid #2B4C7E;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}