#content {
  border: 3px solid #2B4C7E;
  border-radius: 10px !important;
  background-color: #F0F4F9;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  padding-bottom: 50px;
  box-sizing: border-box;
  justify-items: center;
  transition: margin-left 0.3s ease;
  font-family: "Roboto Mono", monospace;
  width: 30%;
  height: 55%;
  font-weight: bold;
}

input,
select {
  font-weight: bold !important;
  border: 1px solid #000 !important;
}


#buttons {
  display: flex;
  justify-content: center;
}

#buttons button {
  width: 100%;
  padding: 6px;
}

.borda {
  border: 1px solid #2B4C7E;
}


@media (max-width: 1366px) {
  #content {
    border: 3px solid #2B4C7E;
    border-radius: 10px !important;
    background-color: #F0F4F9;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-bottom: 50px;
    box-sizing: border-box;
    justify-items: center;
    transition: margin-left 0.3s ease;
    font-family: "Roboto Mono", monospace;
    width: 40%;
    height: 60%;
    font-weight: bold;
  }

  #entrar {
    margin-top: -40px;
  }
}