#content {
  border: 3px solid #2b4c7e;
  border-radius: 10px !important;
  background-color: #f0f4f9;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  padding-bottom: 50px;
  box-sizing: border-box;
  justify-items: center;
  transition: margin-left 0.3s ease;
  font-family: "Roboto Mono", monospace;
  width: 30%;
  height: auto;
  font-weight: bold;
}

input,
select {
  font-weight: bold !important;
  border: 1px solid #000 !important;
}

#logo {
  width: 60px;
  height: auto;
}

#buttons {
  display: flex;
  justify-content: center;
}

#buttons button {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
}

.borda {
  border: 1px solid #2b4c7e;
}

@media (max-width: 1366px) {
  #content {
    border: 3px solid #2b4c7e;
    border-radius: 10px !important;
    background-color: #f0f4f9;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-bottom: 50px;
    box-sizing: border-box;
    justify-items: center;
    transition: margin-left 0.3s ease;
    font-family: "Roboto Mono", monospace;
    width: 50%;
    height: 80%;
    font-weight: bold;
  }
  body {
    overflow-x: hidden;
  }

  #entrar {
    margin-top: -40px;
  }
}
