body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  background-color: #dce0e6;
}

#nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #1f1f20;
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
}

#nomeProjeto,
a {
  margin: 0;
  text-decoration: none;
  color: white;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 60px;
  height: calc(100vh - 60px);
  background-color: #1f1f20;
  overflow: hidden;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 10px;
}

.sidebar:hover {
  width: 250px;
}

.sidebar:hover + #content {
  margin-left: 250px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  white-space: nowrap;
}

.sidebar .sidebar-item img {
  display: block;
  width: 40px;
  height: 40px;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.sidebar-item .text {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease, font-size 0.1s ease-in-out;
}

.sidebar:hover .sidebar-item .text {
  opacity: 1;
  font-size: 20px;
  transition: font-size 0.1s ease-in-out;
}

.sidebar:hover .sidebar-item img {
  width: 45px;
  height: 45px;
}
